@charset "UTF-8";

@use './styles/tokens' as tokens;

#main {
  margin-top: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: tokens.$typography-font-families-bc-sans, 'Noto Sans', Verdana, Arial, sans-serif;
  color: tokens.$typography-color-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width:576px){
  .MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
  }  
}
